/* Сброс Стилей */
body,h1,h2,h3,h4,p,ul,li,div,article,section {
  margin:0;
  padding:0;
}
ul {
  padding:0;
  list-style:none;
}
li {
  display:inline-block;
}
a {
  text-decoration:none;
}


html {
  background-color:#343434;
  font-family:"Georgia";
}

body {
  background-color:#e0e0e0;
  width:1000px; 
  margin:auto;
}

header,main,footer,nav.topMenu {
  padding:0 20px;
}
nav, article, section{
  display:flex;
}

.logo, .topNavigation, .column h4, .readMore a, .tabsMenu {
  text-transform: uppercase;
}
/* Псевдо-элементы */
.tagName a::after {
  content:" »";
}
.readMore a::after{
  content:" »";
}
.categories a::before {
  content:"» ";
}
/* Свойства верхнего подвижного меню */
.topMenu {
  height:52px;
  width:960px;
  background-color:#2D2928;
  position:fixed;/* Задаётся подвижность*/
  z-index:4;/* Индекс для отображения над другими позиционированными элементами*/
  justify-content:space-between;
}
.topMenu div {
  align-self:center;
}
/* Созздание в верхней левом углу меню разделительной линии */
  a.line {
    border-left:1px solid #c4c4c4;
    padding-left:5px;
  }
  .buttonTopMenu a:link,.buttonTopMenu a:visited {
    font-size:12px;
    line-height:14px; 
    color:#c4c4c4;
    padding-right:2px;
  }
  .buttonTopMenu a:hover,.buttonTopMenu a:active  {
    text-decoration:underline;
  }

/* Свойства иконок в верхнем правом углу подвижного меню  */
.ellipse{
  border:8px solid #ffffff;
  width:28px;
  height:28px;
  border-radius:100%;
  background-color:#ffffff;
  margin-left:8px;
  color:#ffffff ;
}

/* Свойства логотипа */
.logo {
  height:185px;
  padding-top:52px;
}
.logo h1 {
  font-size:100px;
  line-height:120px;
  color:#282828;
  text-align:center;
  font-weight:normal;
  padding:10px 0;
  } 
.logo p {
    font-size:20px;
    line-height:24px;
    color:#4a4a4a;
    text-align:center;
  }
 
/* Свойства ТопМеню */
.topNavigation {
   height:35px;
   border-top:3px double #999999;
   border-bottom:3px double #999999;
   flex-wrap:wrap;
   align-content:center;
}
 .topNavigation li{
   padding-right:36px;
 }
 .topNavigation a:link,.topNavigation a:visited {
  font-size:14px;
  line-height:14px;
  color:#333333;
  text-decoration:none;
 }
 .topNavigation a:hover,.topNavigation a:active  {
  color:#999999;
}
 
/* Раздел Main */
main{
  padding-top:30px;
  padding-bottom:35px;
}
/* Верхняя часть майн и её размещение */
article.mainArticles {
  border-bottom:3px double #999999;
  justify-content:space-between;
  padding-bottom:30px;
}

/* сойства ТопНовости */
.topArticles {
  flex-direction:column;
  margin-right:30px;
}
.imgTopArticles {
  height:320px; 
  width:500px;
  background-color:#333333;
  flex-shrink:0;
  margin-bottom:20px;
}
.imgTopArticles p {
  font-size:36px;
  line-height:36px;
  color:#ffffff;
  padding:145px;
  
}
.topNews {
  font-size:22px;
  line-height:22px;
  color:#444444;
}
.topNews:hover{
  color:#999999;
}
.textTopNews  {
  width:497px;
  height:99px;
  font-size:16px;
  line-height:19px;
  color:#666666;
  padding-top:20px;
}

/* Свойства колонок справа от ТопНовости */
.burgerMainArticles {
  flex-direction:column;
  justify-content:space-between;
}
.mainArticles:not([id="endColumn"]) {
  margin-bottom:20px;
}
.imgMainArticles {
  height:100px; 
  width:100px;
  background-color:#333333 ;
  border:5px double #e0e0e0;
  flex-shrink:0;
  margin-right:10px;
}
.imgMainArticles p {
  font-size:15px;
  line-height:15px;
  color:#ffffff;
  padding:40px 8px;
}
/* свойства статьи без изображения */
.mainArticlesNoImg {
  flex-direction:column;
  margin-bottom:20px;
}
.mainNewsNoImg {
  font-size:22px;
  line-height:22px;
  color:#444444;
}
.mainNewsNoImg:hover{
  color:#999999;
}
.textMainNewsNoImg {
  height:65px;
  font-size:16px;
  line-height:19px;
  color:#666666;
  padding-top:10px;
}
/* Свойства статей с изображением */
.mainNews {
  padding:10px 0;
}
.mainNews a {
  font-size:22px;
  line-height:22px;
  color:#444444;
}
.mainNews a:hover{
  color:#999999;
}
.textMainNews {
  height:66px;
  font-size:16px;
  line-height:19px;
  color:#666666;
  padding-top:10px;
}


/* Свойства основного контента */
.content {
  border-bottom:3px double  #999999;
  justify-content:space-between;
}
.mainContent {
  width:600px;
  flex-direction:column;
 margin-right:30px;
}
/* Свойства верхней левой половины контента */
.column{                                                                
  padding:30px 0;
  border-bottom:2px double #999999;
  justify-content:space-between;
}
.mainColumn {
  width:290px; 
  padding-top:5px;
  margin-top:10px;
}
.rightColumn,.leftColumn{
  flex-direction:column;
}
.mainContent h4 {
  font-size:16px;
  line-height:16px;
  color:#666666;
  font-weight:normal;
  border-bottom:1px solid #666666;
  padding-bottom:10px;
}
.imgColum {
  width:60px;
  height:60px;
  background-color:#333333;
  border:5px double #e0e0e0;
  margin-right:8px;
  flex-shrink:0;
}
.imgColum p {
  font-size:16px;
  line-height:16px;
  color:#ffffff;
  text-align:center;
  margin:auto;
  padding-top:5px;
}
.headingMainColumn {
  font-size:12px;
  line-height:12px;
  color:#444444;
  padding:5px 0;
}
.textMainColumn {
  width:210px;
  height:46px;
  font-size:12px;
  line-height:14px;
  color:#666666;
}
.readMore {
  display:flex; 
 justify-content: flex-end;
}
.readMore a{
  font-size:11px;
  line-height:11px;
}
.readMore a:link,.readMore a:visited {
  color:#982115;
}
.readMore a:hover,.readMore a:active {
  color:#3b2320;
}
/* Свойства правой нижней половины контента */
.tabs {
  padding:25px 0;
}
/* Свойства менюшки */
.tabs {
flex-direction:column;
}
.tabsMenu {
height:35px;
width:600px;
}
.tabsMenu div {
  height:100%;
  font-size:12px;
  line-height:14px;
  font-weight:bold;
  margin-right:1px;
  background-color: #2D2928;
  display:flex;
  flex-wrap:wrap;
  align-content:center;
  padding:0 10px;
} 
.rightButton {
  flex-grow:1;
}
.tabsMenu div a:link,.tabsMenu div a:visited {
  color: #ffffff;
  text-decoration: none;
}
.tabsMenu div a:hover,.tabsMenu div a:active{
  color: #c0c0c0;
}
/* Свойства колонок */
.contentTabs {
  justify-content:space-between;
  padding-top:20px;
}
.tabsColumn {
  flex-direction:column;
  height:240px;
}
.tabsColumn:not([id="rightTabs"]){
 margin-right:24px;
}
.tabsColumn a:link,.tabsColumn a:visited {
  font-size:12px;
  line-height:14px;
  color:#982115;
  font-weight:bold;
}
.tabsColumn a:hover,.tabsColumn a:active {
  color:#250401;
}
.tagName a:link,.tagName a:visited{
  color:#982115;
  font-weight:normal;
}
.tagName a:hover,.tagName a:active{
  color:  #250401;
  text-decoration:underline;
}
.imgTabs {
  height:80px;
  width:122px;
  background-color:#333333;
  border:5px double #e0e0e0;
  flex-shrink:0;
  margin:15px 0 10px;
}
.imgTabs p{
  font-size:16px;
  line-height:16px;
  color:#ffffff;
  text-align:center;
  padding-top:33px;
}
.textTabsColumn,.tagName {
  width:131px;
  height:67px;
  font-size:12px;
  line-height:14px;
  color:#666666;
  padding-bottom:10px;
}
/* Свойства правой половины контента */
.asideContent {
  padding-top:30px;
}
/* Свойства блока места под рекламу */
.advertisement {
  flex-direction:column;
  margin-right:20px;
}
.asideContent h2 {
  font-size:13px;
  line-height:13px;
  color:#666666;
  border-top:5px solid #999999;
  padding:7px 0 18px;
}
.advertisementImage {
  height:600px;
  width:160px;
  background-color:#333333 ;
}
.advertisementImage p{
  font-size:16px;
  line-height:16px;
  color:#ffffff;
  text-align:center;
  padding-top:292px;
}
/* Свойства колонок с ссылками */
.linkColumn {
  flex-direction:column;
}
.categories {
  margin-bottom:10px;
}
.categories h2{
  padding-bottom:15px;
}
.linkColumn li {
  padding-bottom:1px;
}
.linkColumn a {
  font-size:13px;
  line-height:13px;
  color:#982216; 
}
.linkColumn a:hover,.linkColumn a:active {
  color:#3a3635;
  text-decoration:underline;
}
/* Свойства футера */
.lowerColumn {
  border-bottom:3px double #999999;
}
.lowerColumn section{
  width:180px;
  flex-direction:column;
  justify-content:space-between;
  padding-bottom:35px;
}
.leftColumnFotter {
  margin-right:16px;
}
.lowerColumn h2 {
  font-size:13px;
  line-height:13px;
  color:#666666;
  border-bottom:1px solid #bcbcbc;
  padding-bottom:9px;
}
.lowerColumn ul{
  padding-top:9px;
}
.lowerColumn a{
  font-size:12px;
  line-height:19px;
  color:#982216;
  font-family:"Verdana";
}
.lowerColumn a:hover,.lowerColumn a:active{
  color:#3a3635;
  text-decoration:underline;
}
/* свойства копирайта */
.copiright {
  display:flex;
  justify-content:space-between;
}
.copiright p {
 font-size:12px;
 line-height:12px;
 color:#787878;
}
.copiright div {
 margin:36px 0;
}